html {
    font-size: 62.5%;
}

.header {
    height: 80px;
    margin: 15px 25px;
    display: flex;
    justify-content: space-between;

    /* .logo {} */

    .cartIcon {
        width: 26px;
        height: 26px;
    }
}