/*!
global > color
------------------------------
*/
:root {
    --color-bg-primary: #baa8a2;
    --color-bg-primary-light: rgba(186, 168, 162, 0.15);
    --color-border: #eeeeee;
    --color-font-primary: #baa8a2;
    --color-font-black: #333333;
    --color-font-white: #ffffff;
    --color-font-base: #5d5d5d;
}
