@use "../global" as g;

/*!
component > post
------------------------------
*/
.c-post-thumbnail {
    display: block;

    img {
        aspect-ratio: 1;
        object-fit: cover;
    }
}

.c-post-date {
    margin-top: 16px;
    line-height: 1;

    @include g.mq() {
        margin-top: 20px;
    }
}

.c-post-title {
    margin-top: 8px;
    font-size: 18px;
    line-height: 1.55;

    @include g.mq() {
        font-size: 22px;
    }
}
